# Ignore node_modules to save space
node_modules
npm-debug.log
yarn-error.log

# Ignore environment-specific configuration files
.env
*.local

# Ignore build output directories
dist
build

# Ignore Git and ESLint cache files
.git
.gitignore
.eslintcache

# Ignore IDE configuration files
.vscode/
.idea/

# Ignore additional Docker files and overrides
docker-compose.override.yml
Dockerfile.*
docker-compose.*
