.header {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding: 20px;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;

  .wrapper {
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;

    .poster-image {
      width: 300px;
      height: auto;
      object-fit: cover;
      box-sizing: border-box;
    }

    .header-details {
      display: flex;
      align-items: flex-start;
      align-content: center;
      flex-wrap: nowrap;
      margin-left: 30px;
      color: white;

      .film-details {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .title {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;

          h2 {
            font-size: 20;
          }
          .facts {
            display: flex;
            gap: 10px;
          }
        }

        .rating {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 5px;

          .text {
            font-weight: 600;
          }
        }

        .header-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .tagline {
            color: grey;
            font-style: italic;
            font-weight: 100;
          }
        }
      }
    }
  }
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(30, 30, 30, 0.8), rgba(10, 10, 10, 0.8)); /* Темно-сірий градієнт */
  z-index: 1;
}
